* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

body {
    box-sizing: border-box;
}
footer {
    margin-bottom: 50px;
}
#gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #80d8da;
    border-radius: 25px;
    padding: 30px 0;
    height: auto;
    width: 400px;
    border: 1px solid black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.input {
    margin-bottom: 10px;
    font-size: 15px;
    width: 320px;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
    background: transparent;
    color: #000000;
}

.input:focus {
    border-bottom-color: #007bff;
}
#textarea {
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
    background: transparent;
    padding: 25px 20px;
    font-size: 15px;
    color: #000000;
    resize: none;
    width: 320px;
}
#submit-btn {
    margin-top: 20px;
    width: 160px;
    height: 40px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
#submit-btn:hover {
    color: #a6e5e7;
    background-color: #5ec5c8;
    transition: .3s;
}
label {
    text-transform: uppercase;
    font-size: 20px;
}
